<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>Username</td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password">
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" name="submit"
            </td>
        </tr>
    </table>
</body>
</html>